Jinja2==2.7.3
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
SQLAlchemy==1.0.8
Sphinx==1.2.2
WTForms==2.0.1
WebOb==1.4
WebTest==2.0.15
beautifulsoup4==4.4.1
colander==0.9.9
docutils==0.11
fancycompleter==0.4
jsonschema==2.3.0
mock==1.0.1
py==1.4.31
pyramid==1.6a2
pyramid-sqlalchemy==1.2.2
pyramid-tm==0.12.1
pytest==2.9.1
repoze.lru==0.6
six==1.7.2
transaction==1.4.3
translationstring==1.1
venusian==1.0a8
waitress==0.8.9
wmctrl==0.1
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
