<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Hello World Demo</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <link rel="shortcut icon"
        href="{{ request.application_url }}/static/favicon.ico"/>
  <link rel="stylesheet" type="text/css"
        href="{{ request.application_url }}/static/demo.css"/>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div class="header">AngularJS Hello World Demo
    </div>
  </div>
</div>
</body>
</html>
