<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>{{ context.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <link rel="shortcut icon"
        href="{{ request.application_url }}/static/favicon.ico"/>
  <link rel="stylesheet" type="text/css"
        href="{{ request.application_url }}/static/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ request.application_url }}/static/app.css"/>
</head>
<body>
<div class="content container">

  <div ng-view/>

</div>

<script src="{{ request.application_url }}/static/angular.min.js"></script>
<script src="{{ request.application_url }}/static/lodash.min.js"></script>
<script src="{{ request.application_url }}/static/angular-route.min.js"></script>
<script src="{{ request.application_url }}/static/app.js"></script>
</body>
</html>
