<div>
  <h2>To Do Items</h2>
  <table class="table table-striped table-hover">
    <tbody>
    <tr ng-repeat="todo in ListCtrl.todos">
      <td>
        <a ng-href="#/todos/1" ng-bind="todo.title">title</a>
      </td>
      <td>
          <button class="btn btn-xs"
                  ng-click="editTodo(todo)">edit
          </button>
          <button class="btn btn-xs"
                  ng-click="deleteTodo(todo)">delete
          </button>
      </td>
    </tbody>
  </table>
  <form class="form form-inline" ng-submit="addItem(newItem)">
    <input type="text" class="input-small"
           ng-model="newTitle" placeholder="Title...">
    <button class="btn btn-xs btn-primary" type="submit">New Item</button>
  </form>

</div>